/* This Css is for small mobile */
@media (min-width: 320px) {

    .single_fun_facts {
        padding-bottom: 60px;
    }
    .skills-lang {
        height: 575px;
    }
    .skills-start {
        height: 495px;
    }
    .skills-devops {
        height: 445px;
    }
    .skills-ind{
        height: 600px;
    }
    .skills-test{
        height: 500px;
    }
    .skills-sales {
        height: 500px;
    }
}
@media (min-width: 400px) {

    .single_fun_facts {
        padding-bottom: 60px;
    }
    .skills-lang {
        height: 520px;
    }
    .skills-start {
        height: 470px;
    }
    .skills-ind{
        height: 525px;
    }
    .skills-test {
        height: 500px;
    }
   .skills-sales {
        height: 470px;
    }  
}


/* This Css is for tablet */

@media (min-width: 760px) {

    .single_fun_facts {
        padding-bottom: 50px;
    }
    .skills-test {
        height: 475px;
    }
    .skills-sales {
        height: 470px;
    } 
}
/* This Css is for Medium Deviced */

@media (min-width: 992px) {
 
    .single_fun_facts {
        padding-bottom: 0px;
    }
    .skills-row-first, .skills-lang, .skills-start, .skills-devops{
        height: 550px;
    }
    .skills-row-second, .skills-ind, .skills-test, .skills-sales {
        height: 575px;
    } 

}
@media (min-width: 1130px) {
     .skills-row-second, .skills-ind, .skills-test, .skills-sales {
        height: 526px;
    } 
}
