/* import fonts */ 
/* Raleway font */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,600,600i,700,700i,900,900i');
/* Roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900,900i');

/* ---- main styles ---- */
body, html {
    height: 100%;
    }
body, html, * {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    }
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: large;
    }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    }
*::selection {
    background-color: #f99f1c;
    color: #fff;
    }
a, a:hover {
    text-decoration: none;
    }
.table {
    display: table;
    width: 100%;
    }
.table-cell {
    display: table-cell;
    vertical-align: middle;
    }
.pad15 {
    padding: 15px;
    }
.pad30 {
    padding: 30px;
    }
section {
    line-height: 1.7em;
    }
.btn {
    font-family: 'Roboto', sans-serif;
    border: none;
     border-radius: 50px;
    }
.btn.orange {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #f99f1c;
    padding: 13px 55px;
    text-transform: uppercase;
    transition: .2s;
    -webkit-transition: .2s;
    }
.btn.orange:hover {
    background: #fa9503;
    }
.btn.light {
    font-size: 22px;
    padding: 8px 40px;
    line-height: 32px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 0 3px 2px rgba(0,0,0,.14);
    transition: .3s;
    -webkit-transition: .3s;
    }
.btn.light:hover {
    color: #fa9503;
    box-shadow: 0 0 20px 4px rgba(0,0,0,.18);
    }
/* -------------- fix bootstrap ---------*/
.navbar {
    min-height: 0;
    margin-bottom: 0;
    border: none;
    }
.nav-tabs {
    border-bottom: none;
    }
.nav-tabs.nav>li>a {
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: 'Raleway', sans-serif;
    color: #626262;
    font-weight: 700;
    font-size: 16px;
    background: transparent !important;
    border-radius: 0;
    }
.nav-tabs.nav>li>a:hover {
    border: none;
    border-bottom: 1px solid #333;
    }
.nav-tabs.nav>.active>a, .nav-tabs.nav>.active>a:focus, .nav-tabs.nav>.active>a:hover {
    border: none;
    border-bottom: 2px solid #333;
    color: #222;
    }
.tab-content {
    display: table;
    width: 100%;
    margin-bottom: 50px;
    }
/* --------------- header ------------ */
.logo {
    padding-top: 8px;
    }
#header {
    padding: 15px;
    display: table;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    box-shadow: 0 0 24px 4px rgba(0,0,0,0.0);
    }
#header.thin {
    padding: 0 15px;
    box-shadow: 0 0 24px 4px rgba(0,0,0,0.2);
    }
.main-menu {
    float: right
    }
.main-menu li {
    list-style: none;
    float: left;
    position: relative;
    }
.main-menu li a {
    display: block;
    padding: 15px 25px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    background: transparent !important;
    }
.main-menu li a:hover {
    color: #6b6b6b;
    }
.main-menu li:last-child a {
    }
.navbar-toggle {
    margin-right: 0;
    }
.icon-bar {
    background-color: #333 !important;
    }
@media (max-width: 767px) {
    .main-menu {
        float: none;
        width: 100%;
        }
    .main-menu li {
        width: 100%;
        float: none;
        }
    .main-menu li a { 
        padding: 15px 0;
        }
    }
/* --------------- SECTION 1 ------------------*/
section.one {
    height: 100%;
    overflow: hidden;
    padding: 100px 15px 30px;
    }
section.one h1 {
    color: #fff;
    font-size: 54px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 25px;
    }
section.one .description {
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    }
section.one .table {
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
    }
.white-block {
    background-color: rgba(255,255,255,.4);
    padding: 30px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    }
.white-block img {
    display: block;
    margin: 10px auto 20px;
    max-width: 100%;
    }
.white-block table {
    width: 100%;
    color: black;
    font-size: 20px;
}
.white-block td {
    padding-right: 10px;
    padding-bottom: 20px;
}

.white-block .left{
    text-align: right;
    width: 40%;
    font-size: 50px;
}
.keyword{

}
@media (max-width: 767px) {
    section.one .table-cell {
        display: block;
        width: 100%;
        }
    section.one {
        height: auto;
        }
    section.one h1 {
        font-size: 34px;
        }
    section.one .description {
        font-size: 16px;
        margin-bottom: 30px;
        }
    .white-block {
        width: auto;
        }
    }
/* --------------- SECTION 2 ---------------*/
section.two {
    overflow: hidden;
    padding: 50px 0;
    }
section.two h2 {
    font-size: 38px;
    font-weight: 600;
    }
section.two p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.7em;
    }
.about-banner {
    margin: 40px 0 20px;
    }
.about-banner img {
    width: 100%;
    }
@media (min-width: 768px) {
    section.two .row {
        display:  table;
        }
    section.two [class*="col-"] {
        display: table-cell;
        vertical-align: middle;
        float: none;
        }
    }
/* --------------- SECTION 3 -------------------*/
section.three {
    padding: 50px 0;
    }
section.three h2 {
    font-size: 38px;
    font-weight: 600;
    margin-top: 0;
    }
section.three .description {
    margin-bottom: 40px; 
    font-size: 18px;
    }
section.three .slide-text {
    height: 380px;
    padding: 90px 75px;
    position: absolute;
    bottom: 15px;
    background: #fff;
    right: 15px;
    box-shadow: 0 0 24px 4px rgba(0,0,0,0.2);
    max-width: 430px;
    }
section.three .container {
    padding-right: 0;
    }
section.three .owl-carousel .owl-item img {
    display: block;
    width: calc(100% - 45px);
    height: auto;
    margin-bottom: 45px;
    }
section.three h3 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px
    }
section.three p {
    font-size: 18px;
    }
section.three .numder {
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    color: #dfdfdf;
    font-weight: 700;
    position: absolute;
    right: 50px;
    bottom: 50px;
    }
@media (max-width: 991px) {
    section.three .slide-text {
        height: auto;
        top: 15px;
        right: 15px;
        bottom: 15px;
        }
    section.three .owl-carousel .owl-item img {
        width: 100%;
        height: auto;
        margin-bottom: 0;
        }
    }
@media (max-width: 767px) {
    section.three .slide-text {
        padding: 30px 30px 90px;
        max-width: 100%;
        position: static;
        }
    section.three .container {
        padding-right: 15px;
        }
    }
/* --------------- SECTION 4 -------------------*/
section.four {
    padding: 50px 0;
    }
section.four h2 {
    font-size: 38px;
    font-weight: 600;
    margin-top: 0;
    text-align: right;
    }
section.four .description {
    margin-bottom: 40px; 
    font-size: 18px;
    text-align: right;
    }
section.four .item {
    display: block;
    width: 16.6666%;
    float: left;
    height: 195px;
    text-align: center;
    padding: 40px 15px 0;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 24px 4px rgba(0,0,0,0);
    transition: .2s;
    -webkit-transition: .2s;
    color: #222;
    font-size: 16px;
    }
section.four .item:hover {
    box-shadow: 0 0 24px 4px rgba(0,0,0,0.2);
    z-index: 2;
    }
section.four .image-hover {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 40px;
    opacity: 0;
    transition: .2s;
    -webkit-transition: .2s;
    }
section.four .item:hover .image-hover {
    opacity: 1;
    }
section.four .item .image {
    opacity: 1;
    transition: .2s;
    -webkit-transition: .2s;
    }
section.four .item:hover .image {
    opacity: 0;
    }
section.four .image-hover img, section.four .image img  {
    max-width: 100%;
    }
section.four .item .name {
    opacity: 0;
    transition: .2s;
    -webkit-transition: .2s;
    }
section.four .item:hover .name {
    opacity: 1;
    }
@media (max-width: 1199px) {
.nav-tabs.nav-justified>li>a {
        line-height: 1;
        height: 45px;
        }
    }
@media (max-width: 767px) {  
    section.four .item {
        width: 25%;
        }
    }
@media (max-width: 450px) {  
    section.four .item {
        width: 50%;
        }
    }
/* ---------------- SEVTION 5 NEWS ------------*/
section.five {
    background-color: #f1f1f1;
    padding: 50px 0
    }
section.five h2 {
    font-size: 38px;
    font-weight: 600;
    margin-top: 0;
    }
section.five .description {
    margin-bottom: 40px; 
    font-size: 18px;
    }
section.five .tab-pane {
    padding-top: 40px;
    }
section.five .item {
    margin-bottom: 30px;
    display: table;
    width: 100%;
    }
section.five .news-text {
    padding: 5px 30px 30px;
    margin: -30px 30px 0; 
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 24px 4px rgba(0,0,0,0);
    transition: .2s;
    -webkit-transition: .2s;
    position: relative;
    color: #222;
    font-size: 16px;
    }
section.five .item:hover .news-text {
    box-shadow: 0 0 24px 4px rgba(0,0,0,.2);
    }
section.five img {
    width: 100%;
    }
section.five h3 {
    font-weight: 700;
    color: #333;
    }
section.five .date {
    color: #979797;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    }
@media (min-width: 768px) and (max-width: 991px) {
    section.five .news-text {
        margin: 0; 
        }
    }
@media (max-width: 450px) {
    section.five .news-text {
        margin: 0; 
        }
}
/* --------------- SECTION 4 CONTACTS -------------------*/
section.six {
    padding: 50px 0;
    }
section.six .row {
    margin-bottom: 40px;
    }
section.six h2 {
    font-size: 38px;
    font-weight: 600;
    margin-top: 0;
    text-align: right;
    }
section.six .description {
    margin-bottom: 40px; 
    font-size: 18px;
    text-align: right;
    }
section.six img {
    width: 100%;
    }
section.six h3 {
    font-weight: 700;
    color: #333;
    }
section.six .address {
    max-width: 220px;
    font-size: 16px;
    margin: 0 auto;
    padding: 30px 0;
    }
.map-link {
    font-weight: 600;
    color: #222;
    border-bottom: 2px solid transparent;
    transition: .2s;
    -webkit-transition: .2s;
    }
.map-link:hover {
    color: #ec981e;
    border-bottom: 2px solid #ec981e;
    }
/*@media (min-width: 768px) {
    section.six .row {
        display:  table;
        }
    section.six [class*="col-"] {
        display: table-cell;
        vertical-align: middle;
        float: none;
        }
    }*/
@media (max-width: 767px) {
    section.six, section.six h2, section.six .description {
        text-align: center;
        }
    section.six .row [class*='col-'] {
        padding-bottom: 50px; 
        }
    }
/* --------------- FOOTER --------------------- */
footer {
    background-color: #e8e8e8;
    padding: 10px 15px;
    font-size: 14px;
    color: #222;
    }
footer a {
    color: #222;
    padding: 0 13px;
    font-weight: 600;
    font-size: 12px;
    border-bottom: 2px solid transparent;
    }
footer a.git:hover {
    color: #6e5494;
    }
footer a.fb:hover {
    color: #3b5998;
    }
footer a.tw:hover {
    color: #4099FF;
    }
footer a.lin:hover {
    color: #0077b5;
    }
    
.footer-nav {
    text-align: right;
    text-transform: uppercase;
    }
/* -------------- mobile styles -----------------*/
@media (max-width: 767px) {
    footer, .text-center-xs, .footer-nav {
        text-align: center;
        }
    .footer-nav { 
        margin: 15px 0 5px
        }
    }

.carousel-indicators{
    bottom: 0px;
}

.carousel-indicators ol{
    margin-bottom: 0px;
}
.carousel-indicators .active{
    background-color: orange;
}
.one .carousel .item img {
    margin: 0 auto;
}
    
    
    
    
    
    
    
    
    
    
    
    
