/* BODY */
body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

.header_main-page,
.student-section,
.startup-section,
.business-section {
	padding: 20px;
}

h1, 
h2,
h3,
h4 {
	font-family: 'Oswald', sans-serif;
	color: rgb(1, 47, 80);
}

h2 {
	margin-bottom: 0;
}

.header_main-page h1, 
.header_main-page h3 {
	color: white;
}

/* HEADER */

.header_main-page {
    background: url(../../images/main-page/header-bg.png);
    background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: cover;
}

.logo_main-page {
	margin-top: 25px;
	display: block;
}

.title-header_main-page {
	padding: 200px 0;
	color: white;
}

.block-item_header {
	margin: 0;
	padding: 10px;
}

.item_header {
	border-width: 0;
	border-radius: 0;
	padding: 50px;
	margin:0;
	background-color: rgba(47, 102, 141, 0.9);
	color: white;
}

.item_header p {
	margin-top: 10px;
}

/* STUDENT SECTION */

.button_student-section,
.button_startup-section {
	border-width: 0;
	border-radius: 0;
	width: 100%;
	max-width: 400px;
	padding: 20px;
	margin-top: 30px;

	background-color: rgb(241, 95, 34);
	color: white;
}

.button_student-section:hover,
.button_startup-section:hover {
	background-color: rgb(201, 85, 36);
	color: white;
}

/*Statistics-grant*/

.statistics_student-section {
	margin-top: 40px;
}

.custom-table_statistics-grant {
	margin: 0;
}

.year-statistics_student-section,
.person-statistics_student-section,
.grant-statistics_student-section,
.title-statistics_student-section {
	margin: 0;
	padding: 10px;
	background-color: rgba(25, 81, 125, 1);
	color: white;
}

.title-statistics_student-section {
	vertical-align: middle;
	padding: 8px;
}

.person-statistics_student-section {
	padding-left: 8px;
	padding-right: 8px;
}

.year-statistics_student-section p,
.person-statistics_student-section p,
.grant-statistics_student-section p {
	vertical-align: middle;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	line-height: 0.5;
}

.year-statistics_student-section span,
.person-statistics_student-section span,
.grant-statistics_student-section span {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.title-statistics_student-section h4 {
	margin: 0;
	padding: 12px;
	line-height: 1.5;
	color: white;
}
/*And Statistics-grant*/

.item1-start_student-section,
.item2-start_student-section,
.item3-start_student-section {
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px 0;
}

.item1-start_student-section {
	background-image: url(../../images/main-page/dig_1.png);
	background-repeat: no-repeat;
}

.item2-start_student-section {
	background-image: url(../../images/main-page/dig_2.png);
	background-repeat: no-repeat;
}

.item3-start_student-section {
	background-image: url(../../images/main-page/dig_3.png);
	background-repeat: no-repeat;
}

.item1-start_student-section h2,
.item2-start_student-section h2,
.item3-start_student-section h2 {
	margin-top: 80px;
}

.competition_student-section {
	margin-top: 40px;
}

/* Map facts*/

.title-facts_student-section {
	margin-top: 140px;
}

.title-facts_student-section p {
	margin-top: 40px;
}

.map-facts_student-section {
	background-image: url(../../images/main-page/map-france.png);
	background-position: 50% 70%;
	background-repeat: no-repeat;
	background-size: contain;
}

.item1-map-facts_student-section,
.item2-map-facts_student-section,
.item3-map-facts_student-section,
.item4-map-facts_student-section,
.item5-map-facts_student-section,
.item6-map-facts_student-section,
.item7-map-facts_student-section {
	border-bottom: 2px solid #ccc;
	font-size: 12px;
}

.item7-map-facts_student-section {
	padding-left: 100px;
	text-align: right;
}
/* And map facts */

.study_student-section {
	margin-top: 40px;
}

.study_student-section p{
	margin-top: 10px;
}

/* BOX-study */

.box-study_student-section {
	margin-top: 30px;
}

.block1-study_student-section {
	height: 0;
	padding-bottom: 28.10%;
	background-image: url(../../images/main-page/student.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.block2-study_student-section,
.block3-study_student-section {
	vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 40px;
	background-color: rgb(234, 234, 234);

}

.block4-study_student-section {
	height: 0;
	padding-bottom: 28.10%;
	background-image: url(../../images/main-page/subject.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/* And BOX-study */


.title-initiative_student-section {
	margin-top: 70px;	
}

.box-initiative_student-section {
	margin-top: 50px;
}

.item1-initiative_student-section,
.item2-initiative_student-section,
.item3-initiative_student-section {
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px 0;
}

.item1-initiative_student-section {	
	background-image: url(../../images/main-page/dig_1.png);
}

.item2-initiative_student-section {
	background-image: url(../../images/main-page/dig_2.png);
;
}

.item3-initiative_student-section {
	background-image: url(../../images/main-page/dig_3.png);
}

.item2-initiative_student-section p,
.item3-initiative_student-section p {
	margin-top: 9px;
}

/* START_UP SECTION */

.box_business-section {
	margin-top: 30px;
}

.decr-ticket_startup-section{
	padding-top: 46px;

}

.title-advantages_startup-section p{
	margin-top: 10px;
	margin-bottom: 0;
}

.items-advantages_startup-section {
	margin-top: 40px;
}

.items-advantages_startup-section h4 {
	margin-top: 5px;
}

/* BUSINESS SECTION */

.title_business-section {
	margin-top: 60px;
}

.title_business-section p {
	margin-top: 10px;
}

.second-col-table_box-business:before {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	top: 1px;
	width: 2px;
	height: 100%;
	background-color: rgba(47, 102, 141, 1);
}

.table_box-business {
	display: table;
	height: 100%;
	width: 100%;
}

.mission_box-business {
	display: table-cell;
	vertical-align: middle;
	width: 85%;
	background-color: rgba(25, 81, 125, 1);
}

.mission_box-business h2,
.mission_box-business p {
	margin-top: 50px; 
	color: white;
}

.mission_box-business p {
	margin-bottom: 60px;
	padding: 0 40px;
}

.white-block_box-business {
	display: none;
}

.first-col-table_box-business {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 30px;
}

.second-col-table_box-business ul {
	list-style: none;
}

.second-col-table_box-business li {
	position: relative;
	padding-bottom: 40px;
	color: rgba(47, 102, 141, 1);
}

.second-col-table_box-business li:last-child {
	padding-bottom: 5px;
}
.second-col-table_box-business li:before {
	position: absolute;
	display: block;
	content: '';
	left: -57px;
	top: 8px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: rgba(47, 102, 141, 1);
}

.wrap-risks_business-section {
	padding-left: 0;
}

.risks_business-section {
	margin-top: 60px;
	margin-bottom: 100px;
	padding-left: 20px;
	border-left: 7px solid #0f426b;
}

.risks_business-section p{
	margin-top: 6px;
	margin-bottom: 4px;
}


@media (min-width: 720px) {

	.custom-table_statistics-grant {
		display: table;
		width: 100%;
		margin: 0;
	}

	.year-statistics_student-section,
	.person-statistics_student-section,
	.grant-statistics_student-section,
	.title-statistics_student-section {
		display: table-cell;
		float: none;
		height: 100%;
		vertical-align: bottom;
		margin: 0;
		padding-top: 0;
		padding-bottom: 15px;
		background-color: rgba(25, 81, 125, 1);
		color: white;
	}

	.year-statistics_student-section {
		padding-left: 60px;
		padding-right: 60px;
	}

	.person-statistics_student-section {
		padding-left: 0;
		padding-right: 0;
	}

	.grant-statistics_student-section {
		padding-left: 15px;
		padding-right: 10px;
	}

	.title-statistics_student-section {
		vertical-align: middle;
	}

	.year-statistics_student-section p,
	.person-statistics_student-section p,
	.grant-statistics_student-section p {
		padding-top: 20px;
		padding-bottom: 10px;
		font-family: 'Oswald', sans-serif;
		font-size: 40px;
	}

	.year-statistics_student-section span,
	.person-statistics_student-section span,
	.grant-statistics_student-section span {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
	}

	.title-statistics_student-section h4 {
		margin: 0;
		padding-bottom: 12px;
		color: white;
	}

	.map-facts_student-section {
		margin-top: 40px;
	}
}


@media (min-width: 768px) {

	.block-item_header {
		display: table-cell;
		vertical-align: top;
		float: none;
		height: 100%;
	}

	.item_header {
		height: 100%;
	}

	/*Map facts*/

	.title-facts_student-section {
	margin-top: 10px;
	}

	.title-facts_student-section p {
	margin-top: 20px;
	}

	.map-facts_student-section {
		width: 100%;
		height: 900px;
		background-image: url(../../images/main-page/map-france-7facts-line.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-attachment: scroll;
	}

	.item1-map-facts_student-section,
	.item2-map-facts_student-section,
	.item3-map-facts_student-section,
	.item4-map-facts_student-section,
	.item5-map-facts_student-section,
	.item6-map-facts_student-section,
	.item7-map-facts_student-section {
		font-size: 12px;
		border: 0;
		
	}

	.item1-map-facts_student-section,
	.item2-map-facts_student-section {
		margin-top: 55px;
	}

	.item3-map-facts_student-section,
	.item4-map-facts_student-section {
		margin-top: 35px;
	}

	.item5-map-facts_student-section {
		margin-top: 45px;
	}

	.item6-map-facts_student-section {
		margin-top: 30px;
	}

	.item7-map-facts_student-section {
		margin-top: 5px;
		padding-left: 15px;
		text-align: justify;
	}

	.item7-map-facts_student-section h4{
		text-align: center;
	}

	.row-table_box-business {
		display: table;
		margin: 0 auto;
		width: 100%;
	}
	.first-col-table_box-business,
	.second-col-table_box-business {
		position: relative;
		display: table-cell;
		vertical-align: top;
		float: none;
	}

	.first-col-table_box-business {
		width: 45%;
		padding: 0;
		height: 100%;
		margin-bottom: 0; 
	}
	.second-col-table_box-business {
		width: 55%;
	}
	.white-block_box-business {
		display: table-cell;
		width: 15%;
	}

	.wrap-risks_business-section {
		padding-left: 15px;
	}
}

@media (min-width: 992px) {

	.item1-map-facts_student-section,
	.item2-map-facts_student-section,
	.item3-map-facts_student-section,
	.item4-map-facts_student-section,
	.item5-map-facts_student-section,
	.item6-map-facts_student-section,
	.item7-map-facts_student-section {
		font-size: 12px;
		border: 0;
		
	}

	.item1-map-facts_student-section,
	.item2-map-facts_student-section {
		margin-top: 30px;
	}

	.item3-map-facts_student-section,
	.item4-map-facts_student-section {
		margin-top: 70px;
	}

	.item5-map-facts_student-section {
		margin-top: 86px;
	}

	.item6-map-facts_student-section {
		margin-top: 70px;
	}

	.item7-map-facts_student-section {
		margin-top: 5px;
		text-align: justify;
	}

	.item7-map-facts_student-section h4{
		text-align: center;
		padding-left: 15px;
	}

	.year-statistics_student-section {
		padding-left: 100px;
	}

	.year-statistics_student-section,
	.person-statistics_student-section,
	.grant-statistics_student-section,
	.title-statistics_student-section {
		padding-top: 8px;
		padding-bottom: 15px;
	}

	.item1-start_student-section,
	.item2-start_student-section,
	.item3-start_student-section {
		padding: 0;
	}	

	.img_box-facts {
		margin-top: -150px;
	}

	.custom-table {
		display: table;
		width: 100%;
		margin: 0;
	}

	.block2-study_student-section,
	.block3-study_student-section {
	    padding-top: 0;
	    padding-bottom: 0;
	}

	.block1-study_student-section {
		float: none;
		display: table-cell;
		padding-bottom: 14.05%;
	}

	.block2-study_student-section,
	.block3-study_student-section {
		float: none;
		display: table-cell;
	}

	.block4-study_student-section {
		float: none;
		display: table-cell;
		padding-bottom: 14.05%;
	}
}