/* BODY */
body {
	background-color: white;
}


.header_main-page,
.student-section,
.startup-section{
	padding: 20px;
}

h1, 
h2,
h3,
h4 {
	font-family: 'Oswald', sans-serif;
	color: rgb(1, 47, 80);
}

.header_main-page h1, 
.header_main-page h3 {
	color: white;
}

h2 {
	margin-bottom: 0;
}

/* HEADER */

.header_main-page {
    background: url(../../images/main-page/header-bg.png);
    background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: cover;
}

.logo_main-page {
	margin-top: 25px;
	display: block;
}

.title-header_main-page {
	padding: 200px 0;
	color: white;
}

.block-item_header {
	margin: 0;
	padding: 10px;
}

.item_header {
	border-width: 0;
	border-radius: 0;
	padding: 50px;
	margin:0;

	background-color: rgba(47, 102, 141, 0.9);
	color: white;
}

.item_header p {
	margin-top: 10px;
}

/* STUDENT SECTION */

.button_student-section,
.button_startup-section {
	border-width: 0;
	border-radius: 0;
	width: 400px;
	padding: 20px;
	margin-top: 30px;

	background-color: rgb(241, 95, 34);
	color: white;
}

.button_student-section:hover,
.button_startup-section:hover{
	background-color: rgb(201, 85, 36);
	color: white;
}

.statistics_student-section {
	margin-top: 60px;
}

.item1-start_student-section,
.item2-start_student-section,
.item3-start_student-section {
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px 0;
}

.item1-start_student-section {
	background-image: url(../../images/main-page/dig_1.png);
}

.item2-start_student-section {
	background-image: url(../../images/main-page/dig_2.png);
}

.item3-start_student-section {
	background-image: url(../../images/main-page/dig_3.png);
}

.item1-start_student-section h2,
.item2-start_student-section h2,
.item3-start_student-section h2 {
	margin-top: 80px;
}

.competition_student-section {
	margin-top: 40px;
}

.box-facts_student-section p {
	margin-top: 40px;
}

.img_box-facts {
	display: block;
	margin-top: -80px;
}

.study_student-section p{
	margin-top: 10px;
}

.box-study_student-section {
	margin-top: 30px;
}

/* BOX-study */

.block1-study_student-section {
	height: 0;
	padding-bottom: 28.10%;
	background-image: url(../../images/main-page/student.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.block2-study_student-section,
.block3-study_student-section {
	vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 40px;
	background-color: rgb(234, 234, 234);

}

.block4-study_student-section {
	height: 0;
	padding-bottom: 28.10%;
	background-image: url(../../images/main-page/subject.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/* And BOX-study */


.title-initiative_student-section {
	margin-top: 70px;	
}

.box-initiative_student-section {
	margin-top: 50px;
}

.item1-initiative_student-section,
.item2-initiative_student-section,
.item3-initiative_student-section {
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px 0;
}

.item1-initiative_student-section {	
	background-image: url(../../images/main-page/dig_1.png);
}

.item2-initiative_student-section {
	background-image: url(../../images/main-page/dig_2.png);
;
}

.item3-initiative_student-section {
	background-image: url(../../images/main-page/dig_3.png);
}

.item2-initiative_student-section p,
.item3-initiative_student-section p {
	margin-top: 9px;
}

/* START_UP SECTION */

.box_business-section {
	margin-top: 30px;
}

.decr-ticket_startup-section{
	padding-top: 46px;

}

.title-advantages_startup-section p{
	margin-top: 10px;
	margin-bottom: 0;
}

.items-advantages_startup-section {
	margin-top: 40px;
}




@media (min-width: 992px) {
	.item1-start_student-section,
	.item2-start_student-section,
	.item3-start_student-section {
		padding: 0;
	}	

	.img_box-facts {
		margin-top: -150px;
	}

	.custom-table {
		display: table;
		width: 100%;
		margin: 0;
	}

	.block2-study_student-section,
	.block3-study_student-section {
	    padding-top: 0;
	    padding-bottom: 0;
	}

	.block1-study_student-section {
		float: none;
		display: table-cell;
		padding-bottom: 14.05%;
	}

	.block2-study_student-section,
	.block3-study_student-section {
		float: none;
		display: table-cell;
	}

	.block4-study_student-section {
		float: none;
		display: table-cell;
		padding-bottom: 14.05%;
	}
}


