/* This Css is for small mobile */
@media (min-width: 320px) {
    .skills-lang, .skills-devops, .skills-ind {
        height: 390px;
    }
    .skills-start {
        height: 365px;
    }
    .skills-test{
        height: 340px;
    }
    .skills-sales {
        height: 315px;
    }
}

@media (max-width: 510px) {
    .contact-title {
        padding-bottom: 25px;
    }
}

/* This Css is for tablet */
@media (max-width: 768px) {
    .ourTeam, .contact {
        background-position: center;
    }
}

@media (max-width: 991px) {
    .chart1,.chart2,.chart3,.chart4,.chart5,.chart6{
        display: none;
    }
    .info{
        top:0;
    }
    .skills:hover .skill-descr,.skills:hover .fa-keyboard-o, .skills:hover .fa-gavel, .skills:hover .fa-cloud, .skills:hover .fa-puzzle-piece, .skills:hover .fa-bug, .skills:hover .fa-video-camera{
        display: none;
    }
}
/* This Css is for Medium Deviced */

@media (min-width: 992px) {
    .skills-row-first, .skills-lang, .skills-start, .skills-devops{
        height: 570px;
    }
    .skills-row-second, .skills-ind, .skills-test, .skills-sales {
        height: 575px;
    } 
}

@media (min-width: 1130px) {
 .skills-row-second, .skills-ind, .skills-test, .skills-sales {
    height: 526px;
    } 
}
